/.vs
/Mathematics/bin
/Mathematics/obj
/MathematicsTests/bin
/MathematicsTests/obj
/MathematicsTests/Report
/MathematicsTests/TestResults
/FSharpMathematicsTests/bin
/FSharpMathematicsTests/obj
/FSharpMathematicsTests/Report
/FSharpMathematicsTests/TestResults
/FSharpMathematics/bin
/FSharpMathematics/obj
/bin
/obj